<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/1692/1692816.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Color</th>
            <th>Marca</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Categorias_ID</th>
        </tr>
    </thead>
    <body>
        <% for(const producto of productos) {
            %>
            <tr>
                <td><%= producto.ID %></td>
                <td><%= producto.Nombre %></td>
                <td><%= producto.Codigo %></td>
                <td><%= producto.Color %></td>
                <td><%= producto.Marca %></td>
                <td><%= producto.Descripcion></td>
                <td><%= producto.Precio %></td>
                <td><%= producto.Categoria_ID %></td>
                <form class="form">
                    <div class="form-container">
                        <td class="d-flex gap-2" >
                            <a href="" class="btn btn-warning btn-sm">Agregar</a>
                            <a href="" class="btn btn-danger btn-sm"> Editar</a>
                            <a href="" class="btn btn-danger btn-sm"> Eliminar</a>
                          </td>
                          <% } %>
        
                        
                    </div>
                </form>
            </tr>
         
    </body>
</table>
    
</body>
</html>