<!DOCTYPE html >
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/1692/1692816.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="<%= Productos.Nombre %>">
    <meta property="og:description" content="<%= Productos.Descripcion %>">
    <meta property="og:image" content="<%= Imagenes.URL %>">
    <meta property="og:type" content="website">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4B5JD7EGC8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4B5JD7EGC8');
</script>
    <title>TurboClean</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
         @import url('https://fonts.googleapis.com/css2? family= Bitter:ital,wght@1,700 & family= Montserrat:wght@300;400;500;600 & display=swap');
        body{
            background-color:rgb(18, 47, 124) ;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.5;
            overflow-x: hidden;
            font-family: 'Montserrat', sans-serif;
            margin: 3%;
        }
        body::after, body::before{
            content: '';
            position: fixed;
            height: 900px;
            width: 900px;
            border-radius: 50%;
            z-index: -1;
            filter: blur(150px);
            opacity: 0.5;
        }
        body::before{
            background-color: rgb(28, 28, 171);
            left: 0;
            bottom: 0;
            transform: translate(-50%);
        }
        body::after{
            background-color: rgb(62, 3, 118);
            right: 0;
            top: 0;
            transform: translate(50%);
        }
        .circle-1,
        .circle-2,
        .circle-3{
            position: absolute;
            background: linear-gradient(to right, rgb(55, 167, 242), rgb(23, 213, 143));
            border-radius: 50%;
            z-index: -1;
        }
       .circle-1{
            height: 100px;
            width: 100px;
            left: 0;
            top: 10%;
            transform: translateX(300%);
        }
        .circle-2{
            height: 80px;
            width: 80px;
            right: 0;
            bottom: 0;
            transform: translate(-500%);
        }
        .circle-3{
            height: 50px;
            width: 50px;
            right: 10%;
            top: 10%;
            transform: translate(300%);
        }
        
        .btn{
            text-decoration: none;
            padding: 20px 30px;
            font-size: 1.2rem;
            position: relative;
            margin: 0;
            background-color: rgb(77, 106, 220);
            color: white;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border-radius: 50px;

        }
        img{
            max-width: 100%;
            margin-left: 20%;
            padding: 10%;
            box-shadow: 0px 0px 5px 1px black;
            
        }

        main{
            display: flex;
            gap: 200px;
            margin-bottom: 80px;
            padding: 10%;
        }
        .container-imagen{
            flex: 1;
        }
        .container-info-productos{
            flex: 2;
            display: flex;
            flex-direction: column;
        }
        .container-price{
            
            display: flex;
            align-items: center;
            width: 100%;
            
            
        }
        .container-add-cart{
            text-align: center;
            padding: 6%;
        }
        .boton{
        height: 45px;
            width: 40%;
            font-size: 16px;
            font-weight: 500;
            text-transform: capitalize;
            font-family: inherit;
            cursor: pointer;
            border-radius: 25px;
            user-select: none;
            background: linear-gradient(to right, rgb(86, 45, 247), rgb(121, 96, 220));
            border: none;
            color: white;
            position: relative;
            z-index: 1;
            overflow: hidden;
            gap: 5px;
    }
    .boton::before{
        content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transition: background-color 0.5s ease;
            z-index: -1;
    }
    .boton:hover::before{
        background-color: hsla(0, 0%, 0%, 0.3) ;
    }
    .container-color{
        transform: translateY(35%);
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgb(157, 177, 245);
        padding: 10px 0;
        width: 100%;
    }
    .container-descripcion{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgb(157, 177, 245);
        padding: 10px 0;
        width: 100%;
        transform: translateY(10%);

    }

    .container-detalles{
        transform: translateY(15%);
    }
    .titulo-color,
    .titulo-descripcion{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    h4{
        color: rgb(251, 251, 251);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 300;
        line-height: 22px;
        margin-top: 25px;
    }
    h5{
        color: rgb(96, 187, 195);
        
    }
    .hidden{
        display: none;
    }

    .decorar-arriba{
         width: 100%;
         height: 80%;
        
        }
        .decorar-arriba .ul-1 {
         float: right;
         margin-right: 50px;
        }
       .decorar-arriba .ul-1 .li-1{
         display:inline-block;
         margin: -10%;
         transform: translateY(-100%);
        }


        .regresar{
            text-decoration:none;
            font-size: 1rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            padding: 30%;
        }

        .titulo{
         margin: -1%;
         color: rgb(127, 211, 218);
         font-size: 2rem; 
         font-weight: 600;
         text-align: left;
         font-family: 'Montserrat', sans-serif;
         margin-right: -6%;
         height: 40px;
        }

        h1{
         margin: -1%;
         color: white; 
         font-size: 2rem; 
         font-weight: 600;
         text-align: left;
         font-family: 'Montserrat', sans-serif;
         margin-right: -6%;
         height: 40px;
        }

       

        .buttons{
            display: flex;
            flex-direction:inherit;
        }
        .btn{
            height: 25px;
            width: 50%;
            font-size: 0.8rem;
            font-weight: 500;
            text-transform: capitalize;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            cursor: pointer;
            border-radius: 50px;
            user-select: none;
            background: linear-gradient(to right, rgb(86, 45, 247), rgb(121, 96, 220));
            border: none;
            Color: white;
            position: relative;
            z-index: 1;
            overflow: hidden;
            text-align: center;
            transform: translate(17%);
        }
        .btn::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transition: background-Color 0.5s ease;
            z-index: -1;
        }
        .btn:hover::before{
            background-Color: hsla(0, 0%, 0%, 0.3) ;
        }
        .btn{
            text-decoration: none;
            padding: 10px 20px;
            font-size: 1.2rem;
            position: relative;
            margin: 32px;
            background-color: rgb(77, 106, 220);
            color: white;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border-radius: 50px;
            transition: transform 0.3s ease;
        }
        .btn ::after, .btn ::before{
            content: "";
            position: absolute;
            opacity: 0.3;
            background-color: rgb(77, 106, 220);
            border-radius: inherit;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: transform 0.3s ease;
        }
    

        .precio{
            padding: 10px 0; font-weight: 300;
             color:rgb(190, 247, 252);
        }


        


         /*Responsive*/
         @media screen and (max-width: 600px){
            main{
             display:block;
             transform: translateY(5%);
            }

            img{
             max-width: 150px;
            
            }

            .container-info-productos{
             padding: 7%;
             display: block;

            }

            .container-descripcion{
                transform: translateY(10%);
            }

            .titulo{
                font-size: 1.5rem;
            }
            

            



            

         }

    

    </style>    
</head>
<header>
    <div class="back">
        <div class="decorar-arriba">
            <ul class="ul-1">
                <li class="li-1"> <a href="/inicio" class="regresar" >Regresar</a></li>
            </ul>
          <h1><svg style="width: 60px;" fill="none" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><g fill="#ff7a00"><path d="m14.3333 10c-2.3932 0-4.3333 1.8813-4.3333 4.202v23.596c0 2.3207 1.9401 4.202 4.3333 4.202 4.7865 0 8.6667-3.7626 8.6667-8.404v-15.192c0-4.6414-3.8802-8.404-8.6667-8.404z" fill="#ff7a00" style=" fill: rgb(0, 255, 89);"></path><path d="m27 32h42c2.7614 0 5-2.2386 5-5v-3c0-2.7614-2.2386-5-5-5h-42z" fill="#ff7a00" style="fill: rgb(0, 255, 89);"></path><path d="m77.6482 29.5h16.1018c4.5564 0 8.25 3.6937 8.25 8.25 0 4.5564-3.6936 8.25-8.25 8.25h-60.25c-12.9787 0-23.5 10.5213-23.5 23.5s10.5213 23.5 23.5 23.5h2.4603c-.5856-2.6383-.5971-5.3393-.169-8h-2.2913c-8.5604 0-15.5-6.9396-15.5-15.5s6.9396-15.5 15.5-15.5h60.25c8.975 0 16.25-7.2754 16.25-16.25s-7.275-16.25-16.25-16.25h-16.1018c.2291.7937.3518 1.6325.3518 2.5v3c0 .8675-.1227 1.7063-.3518 2.5z" fill="#ff7a00" style="fill: rgb(0, 255, 89);"></path><path d="m74 58v13c0 3.866 3.134 7 7 7h29v22c0 2.761-2.239 5-5 5h-6.0795c.6958-1.696 1.0795-3.553 1.0795-5.5 0-8.0081-6.4919-14.5-14.5-14.5s-14.5 6.4919-14.5 14.5c0 1.947.3836 3.804 1.0795 5.5h-16.1638c-9.9892 0-17.6677-8.8388-16.2711-18.7299 2.446-17.3229 17.4919-28.2701 34.3554-28.2701z" fill="#ff7a00" style="fill: rgb(0, 255, 89);"></path></g><path d="m110 74v-11c0-2.7614-2.239-5-5-5h-27v13c0 1.6569 1.3431 3 3 3z" fill="#ffaa5b" style="fill: rgb(92, 124, 255);"></path><path d="m96 99.5c0 2.017-.5685 3.9-1.554 5.5-1.8484 3-5.1636 5-8.946 5s-7.0976-2-8.946-5c-.9855-1.6-1.554-3.483-1.554-5.5 0-5.799 4.701-10.5 10.5-10.5s10.5 4.701 10.5 10.5z" fill="#ffaa5b" style="fill: rgb(92, 124, 255);"></path></svg>TurboClean</h1>
        </div>
    </div>
   
</header>
<body>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="circle-3"></div>

    <main>
        <div class="container-imagen">
            <img src="<%= Imagenes.URL %>" alt="">
          </div>
          <div class="container-info-productos" itemscope itemtype="http://schema.org/Product">
            <div class="container-price">
              <div class="titulo" itemprop="name">
                <%= Productos.Nombre %>
              </div>
            </div>
            <div class="container-color">
              <div class="titulo-color">
                <h5>Color</h5>
                <i style="color:rgb(96, 187, 195) ;" class="bi bi-chevron-down"></i>
              </div>
              <div class="text-color hidden" itemprop="color">
                <h4><%= Productos.Color %></h4>
              </div>
            </div>
            <div class="container-detalles">
              <h5>Marca</h5>
              <h4 itemprop="brand"><%= Productos.Marca %></h4>
              <h5>Precio</h5>
              <h1 class="precio" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="price"><%= Productos.Precio %></span> $
              </h1>
            </div>
            <div class="container-descripcion">
              <div class="titulo-descripcion">
                <h5>Descripcion</h5>
                <i style="color:rgb(96, 187, 195) ;" class="bi bi-chevron-down"></i>
              </div>
              <div class="text-descripcion hidden" itemprop="description">
                <h4><%= Productos.Descripcion %></h4>
              </div>
            </div>
          </div>
            <div class="container-clasificacion">
                <h5>Calificaci贸n del cliente</h5>
                <% if (puntuacion === undefined) {
                    puntuacion = { Puntuacion: 0 };
                  } %>
                  <p style="color: white;" class="average-rating">Calificaci贸n promedio: <%= Productos.Promedio %></p>
                <% if (user) { %>
                    <p style="color: white; font-size: small;">Recuerda que tienes que comprar el producto para poder realizar una calificaci贸n.</p>
                  <p  style="color: white;" class="user-rating">Tu calificaci贸n: <%= puntuacion.Puntuacion %></p>
                <% } %>
              </div>
              
              <% if (user) { %>
                <div>
                  <form action="/calificar/<%= Productos.ID %>" method="POST">
                    <label style="display: none;" for="puntuacion" class="form-label" id="puntuacion-label"><%= puntuacion.Puntuacion  %></label>
                    <input type="range" class="form-range" min="1" max="5" step="1" id="puntuacion" name="puntuacion" value="<%= puntuacion.Puntuacion  %>" onchange="updateLabel(this.value)">
                    <div style="color: white;" id="puntuacion-indicator" class="indicator"><%= puntuacion.Puntuacion  %></div>
                    <div class="buttons">
                      <button type="submit" class="btn">Calificar</button>
                    </div>
                  </form>
                </div>
              <% } %>
              
              <div class="buttons">
                <a href="/pago/<%= ID %>" class="btn" style="padding: 20px 30px;">Comprar</a>
              </div>
    </main>
    <script>
        // Toggle

        // Constantes toggle titulos
        const toggleColor = document.querySelector('.titulo-color');
        const toggleDescripcion = document.querySelector('.titulo-descripcion');

        // Constantes contenido texto
        const contentColor = document.querySelector('.text-color');
        const contentDescripcion = document.querySelector('.text-descripcion');

        // Funciones click
        toggleColor.addEventListener('click', () => {
            contentColor.classList.toggle('hidden');
        });

        toggleDescripcion.addEventListener('click', () => {
            contentDescripcion.classList.toggle('hidden');
        });
        function updateLabel(value) {
      document.getElementById('puntuacion-label').textContent = value;
      var indicator = document.getElementById('puntuacion-indicator');
      var range = document.getElementById('puntuacion');
      var rangeWidth = range.offsetWidth;
      var min = parseInt(range.min);
      var max = parseInt(range.max);
      var position = ((value - min) / (max - min)) * rangeWidth;
      indicator.style.left = position + 'px';
      
      if (value == 0) {
        indicator.style.display = 'none';
      } else {
        indicator.style.display = 'block';
        indicator.textContent = value;
      }
    }

    window.addEventListener('load', function() {
      var initialRating = document.getElementById('puntuacion').value;
      updateLabel(initialRating);
    });
    </script>

</body>
</html>